node_modules

# compiled output
backend/dist
backend/build

# OS
.DS_Store

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.deploy.local
.env.backend.local
.env.frontend.local

# temp directory
.temp
.tmp

.claude
.pnpm-store
.tmp
